<html>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<style>
.left {
    float: left;
    width: 50%;
}

.right {
    margin-left: 50%;
}

html {
    margin-top: 10px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;
}


</style>
<body>
<div class="page-header">
   <h1>Expedition
<hr/>
     <ul class="list-inline centre"><h3><a href="/">Home</a>&nbsp;&nbsp;|<a href="/about">About Us</a>&nbsp;&nbsp;|<a href="/contact">Contact Us</a></h3></ul>
   </h1>
</div>


